<!DOCTYPE html>
<html>
	<head>
		<title>Home automation</title>
	</head>

	<meta name="viewport" content="width=1520, maximum-scale=1.0" />

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/navbar.css" />
	<link rel="stylesheet" href="css/bulb.css" />
	<link rel="stylesheet" href="css/meter.css" />

	<body>
		<div id="cssmenu" style="position: absolute; top: 0px; left: 325px; z-index: 1;">
			<ul>
			   <li><a id="tile" href="/main">Home</a></li>
			   <li><a id="tile" href="/bill">Bill</a></li>
			   <li><a id="tile" href="/scheduling">Scheduling</a></li>
			   <li class="active"><a id="tile" href="about">About us</a></li>
			   <li><a id="tile" href="/logout">Log out</a></li>
			</ul>
		</div>
	</body>
</html>