<!DOCTYPE html>
<html>
	<head>
		<title>Home automation</title>
	</head>

	<meta name="viewport" content="width=1520, maximum-scale=1.0" />

	<link rel="stylesheet" href="css/jquery.nouislider.min.css" />
	<link rel="stylesheet" href="css/jquery.nouislider.pips.min.css" />
	<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/knobStyle.css" />
    <link rel="stylesheet" href="css/knobKnob.css" />
	<link rel="stylesheet" href="css/slider.css" />
	<link rel="stylesheet" href="css/bulb.css" />
	<link rel="stylesheet" href="css/fan-round.css" />
	<link rel="stylesheet" href="css/lcd.css" />
	<link rel="stylesheet" href="css/meter.css" />
	<link rel="stylesheet" href="css/water.css" />
	<link rel="stylesheet" href="css/thermometer.css" />
	<link rel="stylesheet" href="css/waterDrop.css" />
	<link rel="stylesheet" href="css/smoke.css" />
	<link rel="stylesheet" href="css/dialog.css" />
	<link rel="stylesheet" href="css/navbar.css" />
	<link rel="stylesheet" href="css/motion.css" />

	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/jquery.nouislider.all.min.js"></script>
	<script src="js/raphael.2.1.0.min.js"></script>
	<script src="js/justgage.1.0.1.min.js"></script>
	<script src="js/moment.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>

	<script src="js/firebase.js"></script>
	<script src="js/RTCPeerConnection-v1.6.js"></script>
	<script src="js/broadcast.js"></script>
	<script src="js/DetectRTC.js"></script>

	<script src="js/transform.js"></script>
	<script src="js/knobKnob.jquery.js"></script>
	<script src="js/knobScript.js"></script>
	<script src="js/slider.js"></script>
	<script src="js/bulb.js"></script>
	<script src="js/lcd.js"></script>
	<script src="js/water.js"></script>
	<script src="js/waterLimiter.js"></script>
	<script src="js/waterDrop.js"></script>
	<script src="js/humidity.js"></script>
	<script src="js/temperature.js"></script>
	<script src="js/meter.js"></script>
	<script src="js/fan.js"></script>
	<script src="js/smoke.js"></script>
	<script src="js/navbar.js"></script>
	<script src="js/motion.js"></script>
	<script src="js/lock.js"></script>
	<script src="js/lux.js"></script>

	<body class="height:100%; overflow:hidden;">

		<div id="smoke_wrap">
		    <div id="smoke_effect_area"></div>
	    </div>

	    <div id="smokeDialog"></div>

	    <audio preload="auto" loop="true" id="smokePlayer" src="sounds/smoke.mp3" autobuffer></audio>

		<div id="cssmenu" style="position: absolute; top: 0px; left: 325px; z-index: 1;">
			<ul>
			   <li class="active"><a id="tile" href="/main">Home</a></li>
			   <li><a id="tile" href="/bill">Bill</a></li>
			   <li><a id="tile" href="/scheduling">Scheduling</a></li>
			   <li><a id="tile" href="/water">Water tank</a></li>
			   <li><a id="tile" href="/logout">Log out</a></li>
			</ul>
		</div>

		<div style="left: 150px; top: 80px; position: absolute; cursor: pointer; zoom: 1.4; -moz-transform: scale(1.4); -webkit-transform: scale(1.4);">
		  <img src="images/locked.png" id="lock" />
		</div>

		<span class="switch" style="left: 60px; top: 225px; position: absolute; zoom: 0.8; -moz-transform: scale(0.8); -webkit-transform: scale(0.8);">
			<span class="switch-border1">
				<span class="switch-border2">

					<!-- INPUT 1 -->

					<input id="switch1" type="checkbox" checked />
					<label for="switch1"></label>
					<span class="switch-top"></span>
					<span class="switch-shadow"></span>
					<span class="switch-handle"></span>
					<span class="switch-handle-left"></span>
					<span class="switch-handle-right"></span>
					<span class="switch-handle-top"></span>
					<span class="switch-handle-bottom"></span>
					<span class="switch-handle-base"></span>
					<span class="switch-led switch-led-green">
						<span class="switch-led-border">
							<span class="switch-led-light">
								<span class="switch-led-glow"></span>
							</span>
						</span>
					</span>
					<span class="switch-led switch-led-red">
						<span class="switch-led-border">
							<span class="switch-led-light">
								<span class="switch-led-glow"></span>
							</span>
						</span>
					</span>
				</span>
			</span>
		</span>

		<div id="bulbContainer" class="container" style="position: absolute; left: 575px; top: 450px; zoom: 0.5; -moz-transform: scale(0.5); -webkit-transform: scale(0.5);">
			<div class="bulb-light">
			  
			  <div id="light"></div>
			  
			  <div id="bulb">
			    <div class="bulb-top">
			      <div class="reflection"></div>
			    </div>
			    <div class="bulb-middle-1"></div>
			    <div class="bulb-middle-2"></div>
			    <div class="bulb-middle-3"></div>
			    <div class="bulb-bottom"></div>
			  </div>
			    
			  <div id="base">
			    <div class="screw-top"></div>
			    <div class="screw-a"></div>
			    <div class="screw-b"></div>
			    <div class="screw-a"></div>
			    <div class="screw-b"></div>
			    <div class="screw-a"></div>
			    <div class="screw-b"></div>
			    <div class="screw-c"></div>
			    <div class="screw-d"></div>
			  </div>
			</div>
		</div>

		<div class="fan" style="left: 115px; top: 750px; position: absolute; zoom: 0.7; -moz-transform: scale(0.35); -webkit-transform: scale(0.35);">
			<div class="blades">
				<div class="blade1"></div>
				<div class="blade2"></div>
				<div class="blade3"></div>
				<div class="blade4"></div>
				<div class="center"></div>
			</div>
				
			<div class="grid">
				<div class="grid1"></div>
				<div class="grid2"></div>
				<div class="grid3"></div>
				<div class="grid4"></div>
				<div class="grid5"></div>
				<div class="upright1"></div>
				<div class="upright2"></div>
				<div class="upright3"></div>
			</div>
		</div>
			
		<div id="bars" style="top: 525px; left: 5px; position: absolute;">
			<div id="control"></div>
		</div>

		<span class="switch" style="left: 380px; top: 540px; position: absolute; zoom: 0.8; -moz-transform: scale(0.8); -webkit-transform: scale(0.8);">
			<span class="switch-border1">
				<span class="switch-border2">

					<!-- INPUT 2 -->
					
					<input id="switch2" type="checkbox" checked />
					<label for="switch2"></label>
					<span class="switch-top"></span>
					<span class="switch-shadow"></span>
					<span class="switch-handle"></span>
					<span class="switch-handle-left"></span>
					<span class="switch-handle-right"></span>
					<span class="switch-handle-top"></span>
					<span class="switch-handle-bottom"></span>
					<span class="switch-handle-base"></span>
					<span class="switch-led switch-led-green">
						<span class="switch-led-border">
							<span class="switch-led-light">
								<span class="switch-led-glow"></span>
							</span>
						</span>
					</span>
					<span class="switch-led switch-led-red">
						<span class="switch-led-border">
							<span class="switch-led-light">
								<span class="switch-led-glow"></span>
							</span>
						</span>
					</span>
				</span>
			</span>
		</span>

		<div id="clock" class="light" style="top: -140px; left: 500px; position: absolute;">
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
		</div>

		<section class="experiment" style="width: 410px; top: 260px; left: 525px; position: absolute;">                
		    <section>
		        <select id="broadcasting-option" style="display: none;">
		            <option>Audio + Video</option>
		        </select>
		        <button id="setup-new-broadcast" class="setup">Go</button>
		    </section>
		    
		    <table style="width: 100%;" id="rooms-list"></table>
		    
		    <div id="videos-container" style="top: 50px; left: -120px; position: absolute; width: 555px;"></div>
		</section>

		<!-- <div class="fishtank_wrap" style="width: 410px; top: 250px; left: 500px; position: absolute;">
			<div class="fishtank">
			
				<div class="bubble_wrap">
					<div class="bubbles b0"></div>
					<div class="bubbles b1"></div>
					<div class="bubbles b2"></div>
					<div class="bubbles b3"></div>
					<div class="bubbles b4"></div>
					<div class="bubbles b5"></div>
				</div>
				<div class="bubble_wrap bw2">
					<div class="bubbles b6"></div>
					<div class="bubbles b7"></div>
					<div class="bubbles b8"></div>
				</div>
				<div class="water"></div>
				
				<div class="ground"></div>
				
				<div class="water"></div>
				
			</div>
		</div> -->

		<div class="meter">
			<div class="timer" style="top: 100px; left: 1220px; position: absolute;">
				<p>Voltage</p>
				<div class="cell">
					<div class="numbers" id="voltage">0 V</div>
				</div>
			</div>
		</div>

		<div class="meter">
			<div class="timer" style="top: 270px; left: 1220px; position: absolute;">
				<p>Current</p>
				<div class="cell">
					<div class="numbers" id="current">0 A</div>
				</div>
			</div>
		</div>

		<div class="meter">
			<div class="timer" style="top: 440px; left: 1220px; position: absolute;">
				<p>Power</p>
				<div class="cell">
					<div class="numbers" id="power">0 W</div>
				</div>
			</div>
		</div>

		<div class="meter">
			<div class="timer" style="top: 610px; left: 1220px; position: absolute;">
				<p>Units</p>
				<div class="cell">
					<div class="numbers" id="energy">0 Wm</div>
				</div>
			</div>
		</div>

		<div class="container" style="top: 60px; left: 970px; position: absolute;">
		    <div class="de">
		        <div class="den">
		          <div class="dene">
		            <div class="denem">
		              <div class="deneme">
		                23<span>.9</span><strong>&deg;</strong>
		              </div>
		            </div>
		          </div>
		        </div>
		    </div>
		</div>

		<div id="humidityGauge" class="200x160px" style="top: 300px; left: 980px; position: absolute;"></div>
		
		<div id="luxGauge" class="200x160px" style="top: 420px; left: 980px; position: absolute;"></div>

		<div style="top: 590px; left: 1080px; position: absolute;">
			<img id="motionWalk" src="images/motionWalk.png" width="75px">
		</div>

		<!-- <a href="#" id="waterDropBox" style="top: 250px; left: 457px; position: absolute;">
		    <span id="waterPump"></span>
		    <span id="waterDrop"></span>
		</a>

		<div id="waterLimiter" style="top: 300px; left: 932px !important; position: absolute; height: 400px; z-index: 160;">
			<span id="lowerLimit" style="display: none;"></span>
			<span id="upperLimit" style="display: none;"></span>
		</div> -->

		<!--
		<div id="player">
			<div id="volume"></div>
		</div>
		-->

	</body>

	<script src="js/camera.js"></script>
</html>