@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(http://fonts.gstatic.com/s/arimo/v8/GyrB9qm3gnUt6yGU4LYoC6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}